/* RESEN */
/* Item Listing
------------------------------------------------------------------------------- */		
		

	.content {
	
		clear: left;
		float: left;
		width: 98%;
		margin: 50px 0 0 2%;
		padding-bottom: 175px;
		-moz-user-select: none;
		-webkit-user-select: none;
	
		}
		
	.content li {
	
		float: left;
		margin: 0 15px 20px 0;
		position: relative;
		
		}
	
	.content a {
	
		display: block;
		width: 270px;
		border: 4px solid transparent;
		border-radius: 5px;
		-webkit-transition: background-color .15s ease-out;
		-moz-transition: background-color .15s ease-out;
		text-align: center;
		text-overflow: ellipsis;
	
		}
		
	.content .image {
	
		width: 100%;
		height: 270px;
		line-height: 270px;
	
		}
		
	.content img {
	
		vertical-align: middle;
	
		}
		
	.content strong,
	.content input[type="text"] {
	
		display: block;
		width: 100%;
		color: #555;
		font: normal 12px/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-align: center;
		margin-bottom: 5px;
		
		-webkit-appearance: none;
		border: none;
		background: transparent;
		outline: none;
	
		}
		
	.content em {
	
		display: block;
		position: absolute;
		bottom: -20px;
		left: 10%;
		width: 40%;
		font-style: normal;
		color: #444;
		text-align: left;
		display: none;

		}
		
	.content span {
	
		display: block;
		position: absolute;
		bottom: -20px;
		right: 10%;
		width: 40%;
		font-style: normal;
		color: #444;
		text-align: right;
		display: none;
	
		}
		
		
/* Hover */

			
	.content a:hover {

		color: #ccc;
		background: #222;

		}
		
	.content a:hover em {
	
		display: block;

		}
		
	.content a:hover span {
	
		display: block;
	
		}
		
	
/* Selected */


	.content .selected a {
	
		border-color: #555;
	
		}
		
		
/* Renaming */


	.content .renaming strong {
	
		visibility: hidden;
	
		}
		
	.content input[type="text"] {
	
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		color: #fff;
		border: 1px dashed #555;
		border-radius: 5px;
		padding: 7px;
		width: auto;
		margin: 0;
	
		}
	
		
		
/* Right Click
------------------------------------------------------------------------------- */		
		

	#menu {
	
		position: absolute;
		border-radius: 5px;
		background: #efefef;
		box-shadow: 0 5px 20px 0 rgba(0,0,0,.5);
		opacity: .9;
		overflow: hidden;
		padding: 5px 0;
	
		}
		
	#menu a {
	
		display: block;
		font-size: 13px;
		line-height: 16px;
		font-weight: bold;
		padding: 5px 20px;
	
		}
		
	#menu a:hover {
	
		color: #fff;
		background: #555;
	
		}
		
		
/* Message
------------------------------------------------------------------------------- */		


	.message {
	
		margin: 200px auto 0;
		width: 200px;
		text-align: center;
		font-size: 15px;
		line-height: 20px;
		padding: 20px;
		border-radius: 5px;
		border: 1px solid #444;
		-webkit-box-shadow: 0 0 20px #000;
		-moz-box-shadow: 0 0 20px #000;
		color: #111;
		text-shadow: 0 1px 0 rgba(255,255,255,.15);
		background: #555;
		background-image: -webkit-linear-gradient(#777 0%, #444 100%);
		background-image: -moz-linear-gradient(#777 0%, #444 100%);
		
		}
		
	.message h3 {
	
		margin-bottom: 5px;
	
		}